h1{
    background-color: red;
}

h2{
    background-color: pink;
}

h3{
    background-color: violet;
    color: red;
}

p{
    font-size: 20px;
    color: purple;
    text-align: center;
    background-color: yellow;
}